nav, header, .Temas, aside, .Doc, footer{
    margin: auto;
    text-align: justify;
    color:  rgb(3, 84, 150);
}
nav{
    text-align: center;
    color: blue;
}
header{
    background-color: rgb(3, 84, 150);
    color: white;
    text-align: center;
}
aside{
    display: inline-block;
    max-width: 30%;
    text-align: right;
}
.Doc{
    display: inline-block;
    max-width: 65%;
}
footer{
    background-color: rgb(3, 84, 150);
    text-align: center;
    color: white;
}
.menu li{
    display: inline-block;
}
li a, boton{
    display: inline-block;
    text-align: center;
    text-decoration: none;
    padding: 0.9em 1em;
}
.Listadesplegable{
    display: none;
    position: absolute;
}
.Listadesplegable a{
    display: block;
    color: teal;
    text-align: left;
}
.boton:hover .Listadesplegable{
    display: block;
}
Li a:hover {
    background-color: rgb(120, 188, 243);
} 
li a, BOTON{
    display: inline-block;
    text-align: center;
    text-decoration: none;
    padding: 0.9em 1em;
}
.LISTAdesplegable{
    display: none;
    position: absolute;
}
.LISTAdesplegable a{
    display: block;
    color: teal;
    text-align: left;
}
.BOTON:hover .LISTAdesplegable{
    display: block;
}
Li a:hover {
    background-color: rgb(120, 188, 243);
}
li a, BotoN{
    display: inline-block;
    text-align: center;
    text-decoration: none;
    padding: 0.9em 1em;
}
.ListaDESPLEGABLE{
        display: none;
        position: absolute;
    }
.ListaDESPLEGABLE a{
        display: block;
        color: teal;
        text-align: left;
    }
.BotoN:hover .ListaDESPLEGABLE{
        display: block;
    }
Li a:hover{
        background-color: rgb(120, 188, 243);
    }

li a, Boton{
        display: inline-block;
        text-align: center;
        text-decoration: none;
        padding: 0.9em 1em;
    }
    .ListaDesplegable{
            display: none;
            position: absolute;
        }
    .ListaDesplegable a{
            display: block;
            color: teal;
            text-align: left;
        }
    .Boton:hover .ListaDesplegable{
            display: block;
        }
    Li a:hover{
            background-color: rgb(120, 188, 243);
        }
    .Lecturas{
            text-align: justify;
            max-width: 65%;
            color:  rgb(3, 84, 150);   
        }
    .Crucigrama{
            text-align: center;
            color:  rgb(3, 84, 150);  
        }
    .Sopa{
            text-align: center;
            color:  rgb(3, 84, 150);   
        }
    .autora{
            text-align: center;
            max-width: 65%;
            color:  rgb(3, 84, 150); 
        }
    .Video1{
            text-align: center;
            color:  rgb(3, 84, 150); 
        } 
    .Video2{
                text-align: center;
                color:  rgb(3, 84, 150);  
        }
    .pag2{
        display: inline-block;
        max-width: 30%;
        text-align: right; 
    }
    .pag3{
        display: inline-block;
        max-width: 30%;
        text-align: right;
    }
       
