nav, header, .temas, .Doc, aside, footer{
    max-width: 97%;
    margin: auto;
}
nav{
    text-align: center;
}
header{
    background-color: rgb(3, 84, 150);
    color: white;
    text-align: center;
}
aside{
    display: inline-block;
    max-width: 32%;
}
.Doc{
    display: inline-block;
    max-width: 65%;
}
footer{
    background-color: rgb(3, 84, 150);
    text-align: center;
    color: white;
}
.menu li{
    display: inline-block;
}
li a, boton{
    display: inline-block;
    text-align: center;
    text-decoration: none;
    padding: 0.9em 1em;
}
.Listadesplegable{
    display: none;
    position: absolute;
}
.Listadesplegable a{
    display: block;
    color: teal;
    text-align: left;
}
.boton:hover .Listadesplegable{
    display: block;
}
Li a:hover{
    background-color: rgb(120, 188, 243);
}